* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {

    width: 100%;
    height: 100%;
}


/* ---------------------------------HEADER--------------------------------- */

.header {
    width: 100%;
    padding: 5px 25px;
    display: flex;
    position: relative;
    background: linear-gradient(to right, #e9492a, #e72357);
    justify-content: space-between;
    align-items: center;
    max-height: 25%;
    z-index: 1;
}

.left, .middle, .right {
    display: flex;
}

.header img {
    width: 100%;
}

.left {
    position: relative;
    height: 100%;
}

.left .bolinhas{
    position: absolute;
    left: -80px;
}

.middle {

    margin-bottom: -50px;
}




/* -----------------------------------------CONTEUDO------------------------------- */

.conteudo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px auto;
}

.conteudo-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    z-index: 10;
}

.color-bar {
    margin-top: 10px;
    height: 5px;
    width: 50%;
}

#img-principal {
    height: 50svh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.img-sub {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


h1, h2, h3 {
    margin-top: 15px;
}

h1 {
    color: #231f20;
}

h2 {
    font-size: 1.0em;
    font-weight: lighter;
    color: #74787a;

}

h3 {
    font-size: small;
    font-style: italic;
    color: gray;
}

.box-sub {
   display: flex;
   flex-wrap: wrap;
}

.sub-conteudos {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-bottom: 20px;
    width: 45%;
}

footer {
    width: 100%;
    margin: 0;
    background-color: #fc4c02;
}

.banner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    margin: 20px 0;
    padding: 20px;
}

.text-footer a, p{
    font-size: small;
    color: #74787a;
    text-align: center;
}

.text-footer a {
    text-decoration: underline;
}



@media (max-width: 768px) {

    h1, h2, h3 {
        margin-top: 5px;
    }

    h1 {
        font-size: 13px;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 8px;
    }
    
    .conteudo {
        margin-top: 20px;
    }

    .img-sub {
        height: 15vh;
    }
    
    #img-principal {
        height: 20vh;
    }
    
    .banner-footer img {
        width: 60%;
        height: 60%;
    }
}