* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    height: 20%;
    width: 100%;
    background: linear-gradient(to right, #e9492a, #e72357);
    justify-content: space-between;
    align-items: center;
}

.left, .middle, .right {
    height: 100%;
    width: 100%;
    display: flex;
}

.header img {
    position: absolute;
}

.left {
    justify-content: left;
}

.middle {
    justify-content: center;
}

.right {
    justify-content: right;
}


.conteudo {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.conteudo-principal {
    width: 100%;
}

.img-principal img {
    width: 100%;
}

.img-principal {
    width: 100%;
}

.box-sub {
    margin-left: 80px;
}

.sub-conteudos {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: right;
}