* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    width: 100%;
    height: 100%;
}


/* ---------------------------------HEADER--------------------------------- */

.header {
    display: flex;
    background: linear-gradient(to right, #e9492a, #e72357);
    justify-content: space-between;
    align-items: center;
}

.left, .middle, .right {
    display: flex;
}

.header img {
    width: 100%;
}

.left {

}

.middle {

    margin-bottom: -50px;
}

.right {

}


/* -----------------------------------------CONTEUDO------------------------------- */

.conteudo {
    width: 70%;
    margin: 40px auto;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.conteudo-principal::after {
    content: '';
    height: 10px;
    width: 50%;
    background:linear-gradient( to right, #e72357, darkblue) ;
}

.img-principal {
    width: 100%;
    height: 50vh;
    background-image: url(../images/img-principal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.img-sub {
    width: 100%;
    height: 50vh;
    background-image: url(../images/nba.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.texto-principal {
    width: 100%;
}

h1, h2, h3 {
    margin-top: 15px;
}

h2 {
    font-size: 1.0em;

}

h3 {
    font-size: small;
    font-style: italic;
    color: gray;
}

.box-sub {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.sub-conteudos {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 49%;
}

.sub-conteudos:after {
    content: '';
    height: 10px;
    width: 50%;
    background:linear-gradient( to right, #e72357, darkblue) ;
}
